default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: simple_messenger_development
  host: localhost
  username: username
  password: 'password'

test:
  <<: *default
  database: simple_messenger_test
  host: localhost
  username: username
  password: 'password'

production:
  <<: *default
  database: simple_messenger_production
  username: simple_messenger
  password: <%= ENV['SIMPLE_MESSENGER_DATABASE_PASSWORD'] %>
